header{
  background: linear-gradient(rgb(2, 71, 174),rgb(2, 87, 144),rgb(5, 80, 145));
 position: fixed;
 width: 100%;
 z-index: 1000;
}
  li{
  list-style-type: none;
  display: flex;
  margin: 12px;
  position: relative;
  }
  li a{
    color: rgb(239, 232, 232);
    text-decoration: none;
   }
  .nx{
  display: flex;
  align-content: center;
  justify-content: space-between;
  
  color: white;;
  }  
  .navi{
   
  display: flex;
  margin-right: 180px;
  padding: 20px;
  }
  .navi li::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -1px;
    background: white;
    transition: .5s;
  }
  .navi li:hover::after{
    width: 100%;
  }
  .logo{
  margin: 12px;
  padding-left: 160px;
  font-size: 30px;
  animation-name: des;
  animation-duration: 2s;
  margin-top: 20px;
  /* animation-iteration-count: 3; */
  }
  @keyframes des{
    0%{
      color: black;
    }
    50%{
      scale: 1.5;
      transform: rotate(360deg);
    }
  }
  *{
  margin: 0;
  padding: 0;
  }
  .left{
  max-width: 50%;
  height: 550px;
  background-color: rgb(0, 0, 0);

  }
  .part{
  /*   background-color: yellow; */
  padding: 50px;
  padding-top: 150px;
    padding-left: 130px;
  color: rgb(212, 73, 73);
  line-height: 50px;
  font-size: 23px;
  }
  .full{
    display: flex;
  height: 550px;
  align-items: center;
  background-color: rgb(0, 0, 0);

  }
  .a{
    background: linear-gradient(rgb(10, 79, 147),rgb(162, 210, 235));
    color: transparent;
    background-clip: text;
    font-size: 30px;
  }
  .btn{
    padding:8px 15px;
    background-color: rgb(236, 236, 241);
    color: rgb(32, 3, 3);
    margin-right: 10px;
    border-radius: 8px;
    font-size: 18px;
  }
.right img{
  height: 500px;
  width: 550px;
  margin-right: -120px;
  
}
.fully {
  width: 90%;
  height: 70vh;
  padding-left: 55px;
  display: flex;
  border-radius: 10px;
  margin-top: 50px;
  position: relative;
}

.lefty {
  background: linear-gradient(rgb(1, 61, 88), rgb(12, 149, 240), rgb(156, 201, 240));
  width: 30%;
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* Improved shadow */
  position: relative;
  overflow: hidden;
  font-size: 1.2rem; /* Responsive font size */
}

.circle7 {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  position: absolute;
  right: -6%;
  bottom: -8%;
  background: linear-gradient(rgb(231, 12, 12), rgb(241, 126, 77), rgb(234, 169, 116));
  opacity: 1;
}

.righty {
  width: 70%;
  height: 100%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  color: rgb(245, 238, 238);
  background-color: rgb(50, 50, 50);
  font-size: 1.2rem; /* Responsive font size */
}

.circle6{
  background-color: brown;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  position: absolute;
  border-bottom-style: 5%;
  left: -6%;
  overflow: hidden;
  background: linear-gradient(rgb(5, 104, 150),rgb(95, 186, 248),rgb(200, 230, 233));
  opacity: 1;
}
.righty h1{
  font-weight: 20;
  text-align: justify;
  padding:10px 30px;
  line-height: 44px;
  
}
.lefty h1{
  font-weight: 40;
  text-align: justify;
  padding:10px 20px;
  line-height: 44px;
  color: azure;
}
.righty hr{
  width: 0%;
  position: absolute;
  bottom: 125px;
  left: 5%;
}
 #second img{
    height: 400px;
    background-color: rgb(0, 0, 0);
    margin-left: 120px
  }
  
  #second{
    height: 550px;
    background-color: rgb(0, 0, 0);
    display: flex;
    color: white;
  }
  .txt{
    padding: 21px;
    margin-left: 12px;
    margin-top: 22px;
    
  }
  .txt h1{
    font-size: 35px;
    padding-bottom: 20px;
    line-height: 50px;
    word-spacing: 8px;
  }
  .txt p{
    line-height: 25px;
    text-align: justify;
    padding-bottom: 20px;
  }
  .top{
    display: flex;
    color: rgb(160, 56, 160);
    justify-content: space-around;
  }
  .top h3{
    padding-right: 80px;
    position: relative;
    padding-top: 40px;
  }
  .top h3::after{
    content: '';
    width: 30%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -6px;
    transition: .5s;
    left: 0;
  }
  /* .top h3:hover::after{
     width: 30%;
    
  } */
   /* .top h3:hover{
    text-decoration: underline;
   } */
  .me{
    width: 45%;
    background-color: rgb(0, 0, 0);
    height: 550px;
    display: flex;
      justify-content: center;
      align-items: center;
  }
  .me img{
    width: 450px;
     margin-right: 130px;
    
  }
  .ex{
    padding-top : 52px;
    /* display: none; */
    
  }
  .ex h3{
    font-size: 15px;
    color: rgb(160, 56, 160);
  }
  .ex p{
    font-size: 13px;
  }
  .all{
    display: flex;
    justify-content: space-around;
  }
  /* .ex3{
    display: none;
  } */
  #third{
    /*     height: 550px; */
        background-color: rgb(0, 0, 0);
        
      }
      #third h1{
        top: 0px;

        font-size: 35px;
        padding: 20px;
        margin-left: 30px;
        color: white;
        
        position: relative;
        bottom: -65px;
        padding-bottom: 20px;
      }
      .w{
        display: flex;
        align-items: center;
    /*     margin-top: -100px; */
        height: 500px;
        justify-content: space-around;
        color: white;
        position: relative
      }
      .x h2{
        font-size: 20px;
        background: linear-gradient(rgb(234, 195, 171),rgb(231, 115, 115));
        color: transparent;
        background-clip: text;
        
      }
      .x h2:hover{
        background: linear-gradient(rgb(239, 233, 229),rgb(231, 115, 115));
        color: transparent;
        background-clip: text;
        font-weight: 40;
      }
      .x{
        position: relative;
        top: -90px;
        border: 1px solid black;
        border-radius: 3%;
        background-color: rgb(50, 50, 50);
        /* background: linear-gradient(rgb(231, 12, 12),rgb(241, 126, 77),rgb(234, 169, 116)); */
        height: 300px;
        width: 300px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin-right: 5px;
        transition: background .5s , transform .5s;
        line-height: 30px;
        overflow: hidden;
      }
       .x:hover{
        background: linear-gradient(rgb(1, 61, 88),rgb(10, 115, 185),rgb(89, 167, 236));
        transform:translateY(-10px);
       }
       .circle3{
        background-color: brown;
        height: 140px;
        width: 140px;
        border-radius: 50%;
        position: absolute;
        border-bottom-style: 5%;
        right: 58%;
        top: -2%;
        overflow: hidden;
        background: linear-gradient(rgb(231, 12, 12),rgb(241, 126, 77),rgb(234, 169, 116));
        opacity: 1;
      }
      .circle4{
        background-color: brown;
        height: 140px;
        width: 140px;
        border-radius: 50%;
        position: absolute;
        border-bottom-style: 5%;
        right: 24%;
        top: 40%;
        overflow: hidden;
        background: linear-gradient(rgb(5, 104, 150),rgb(95, 186, 248),rgb(200, 230, 233));
        opacity: 1;
      }
.x h2{
  padding-bottom: 10px;
  
}
i{
  padding: 15px;
 font-size: 30px;
}
.worklist{
  display: flex;
   justify-content: space-around;
   margin-left: 30px;
   margin-right: 30px;
   padding-top: 30px;
 }
 .worklist img{
   width: 350px;
   height: 400px;
   border-radius: 10px;
   /* position: relative; */
   /* transition:transform .5s; */
   display: block;
 }
 .work{
  position: relative;
}
 
.layer{
  width: 350px;
  color: rgb(231, 226, 216);
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(rgb(0,0,0,.6),rgb(52, 133, 213));
  height: 0; 
 /* display: none; */
  border-radius: 10px;
  /* margin-top: -50px; */
  /* margin-top: 0; */
  text-align: center;
  align-content: center;
  transition: height .5s;
   overflow: hidden;
}
 .work:hover .layer{
  height: 100%;
  display: block;
}
.layer h3{
  font-size: 25px;
  padding-bottom: 10px;
}
.layer p{
  line-height: 25px;
}
.container{
  background-color: rgb(0, 0, 0);
  padding-bottom: 120px;
}
 .container h1{
  padding: 20px;
   font-size: 35px;
   position: relative;
   margin-left:40px ;
   margin-top: -90px;
   color: white;
   
 }
 .container h2{
   
  color: white;
  text-align: center;
  border-radius: 7px;
  border: 2px solid rgb(108, 5, 108);
 margin-left: 600px;
 margin-right: 550px;
   padding: 8px;
   margin-top: 60px;
    transition: transform .5s;
   font-size: 18px;
 }
.container h2:hover{
  background-color: rgb(80, 3, 80);
  transform: translateY(-3px);
}
 .layer i{
   border-radius: 50%;
   background-color: rgb(255, 255, 255);
   font-size: 16px;
   /* width: 10px;
   height: 10px; */
   text-align: center;
   margin-top: 20px;
   color: rgb(80, 3, 71);
 }
 .last-left{
  background-color: aqua;
   width: 30%;
   padding: 30px;
   align-content: center;
   margin-left: 70px;
   color: white;
   background-color: rgb(0, 0, 0);
 }
.last-left h1{
  font-size: 35px;
  padding-bottom:20px; 
}
.tg{
  display: flex;
  
}
.tg p{
  align-content: center
}
.call{
  display: flex;
}
.call p{
  align-content: center;
}
.icon i{
 margin-right: -18px;
  size: 50px;
}
.last-btn{
  padding: 10px 25px 10px 25px;
  margin: 15px;
  margin-top: 15px;
  color: rgb(0, 0, 0);
  font-size: 15px;
}

.last button:hover{
   background-color: rgb(80, 3, 71);
   color: white;
   border-color: rgb(80, 3, 71);
   border-radius: 5px;
   transform: scaleY(-8px);
   transition:  .5s;

}
.last{
  display: flex;
  background-color: rgb(0, 0, 0);
}
form{
  background-color: blanchedalmond;
  display: grid;
  padding:20px;
  background-color: rgb(0, 0, 0);

}
input{
  margin: 10px;
  padding-right: 500px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 9px;
  outline: none;
  background: #cfcfcf;
}

textarea{
  margin: 10px;
  padding: 10px;
  outline: none;
  background: #cfcfcf;

}

form button{
  padding: 10px;
  width: 90px;
  margin-left: 10px;
  margin-top: 10px;
  
}
footer{
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding: 30px;
 }